


body {
	color: #878787;
	margin: 0;	
	font: normal 1em/1.5 'Oswald', sans-serif;
}

.main-header {
	background-color: #ffa949;
}

.title {
	color: white;
	font-size: 1.625rem;    /*26px/16px =1.625em*/
}

.primary-content,
 .secondary-content {
 	width: 60%;
 	margin: 0 auto;
}

.wildlife {
	color: white;
	background-color: #434a52;

	padding: 6% 20%;
	border-top: 10px solid #c4792d;
	margin: 105px;
	margin-top: 100px;

    
	
}

.primary-content,
.main-header {
	text-align: center;
}



ol li {
	
	color: white;
	margin-bottom: 5px;
}

h1 {
	font-size: 5.625rem;       /*90px/16px =5.625em*/
	color: rgb(255, 255, 255);
	text-transform: capitalize;
	font-weight: normal;
	line-height: 1.3;

}

h2 {
	font-size: 53px;
	text-decoration: underline;
	font-weight: normal;
	line-height: 1.1;
	margin-bottom: .5em;   /*26px*/
}

h3 {
	font-size: 20px;
	color: #48525c;
	margin-bottom: 1.7em;  /*34px*/
}

/*li {
	display: inline-block;
	padding: 0 12px;
	border-right: solid 1px;
	margin: 80px 0;
}*/

p {
	font-weight: bold;
}




/******************************       *****************
*********************
*********
*****************            ID's and Classes        ***********************
*********
*********************                
*******************************       *****************/




.primary-content {
	text-align: center;
}

.t-border {
	border-top: 2px solid lightgrey;
}

#main-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	border-bottom: solid 10px #ffa949;
}





/******************************       *****************
*********************                           **********
*********
*****************             Pseudo Classes        ***********************
*********
*********************                           **********
*******************************       *****************/


a:link {
	color: rgb(255, 169, 73);
	text-decoration: none;
}

a:visited {
	color: lightblue;
}

a:hover {
	color: rgba(255, 169, 73, .4);
}

a:active {
	color: lightcoral;
}

a:focus {
	color: white;
	background-color: orange;
}


.callout {
	font-size: 1.25em;
	bottom-border: 3px solid;
	padding: 0 9px 3px;
	margin-top: 20px;

	display: inline-block;
	text-decoration: underline;
}
